*{
	margin:0px;
	padding:0px;
	background-color:#DAF7A6;
		
}
h1,a,div{
	margin:79px;
	padding:40px;
	background-color:#9c544b;
	
}
h2,p.class1{
	
	margin:50px;
	padding:30px;
	background-color:#FFC300;
	
}